module.exports = {
  "fontName": "{{ fontName }}",
  "fontPath": "{{ fontPath }}",
  "formats": {{ formats | dump | safe }},
  "className": "{{ className }}",
  "glyphs": {{ glyphs | dump | safe }}
}
