<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ fontName }}</title>

  <style>
    :root {
      --color: rgba(221, 80, 64, 1);
      --color_alt_dark: rgba(61, 61, 60, 1);
      --color_alt_light: rgba(255, 255, 255, 1);
      --color_shadow: rgba(221, 80, 64, .5);
      --shadow_dark: rgba(61, 61, 60, .22);
      --shadow_light: rgba(61, 61, 60, .11);
    }

    body {
      margin: 0;
      padding: 10px 20px;
      background: #efefef;
      color: #222;
      font-family: "Helvetica Neue", Arial, sans-serif;
    }

    h1 {
      margin: 0 0 20px;
      font-size: 32px;
      font-weight: normal;
    }

    .icons {
      margin-bottom: 40px;
      column-count: 2;
    }

    @font-face {
      font-family: {{ fontName }};
      {% if formats.indexOf('eot')>-1 -%}
      src: url("{{ fontPath }}{{ fontName }}.eot");
      {%- endif %}
      {%- set eotIndex = formats.indexOf('eot') -%}
      {%- set woff2Index = formats.indexOf('woff2') -%}
      {%- set woffIndex = formats.indexOf('woff') -%}
      {%- set ttfIndex = formats.indexOf('ttf') -%}
      {%- set svgIndex = formats.indexOf('svg') %}
      src: {% if eotIndex != -1 -%}
      url("{{ fontPath }}{{ fontName }}.eot?#iefix") format("embedded-opentype")
      {%- set nothing = formats.splice(eotIndex, 1) -%}
      {%- if formats.length != 0 -%}, {% else -%}; {% endif -%}
      {%- endif -%}
      {%- if woff2Index != -1 -%}
      url("{{ fontPath }}{{ fontName }}.woff2") format("woff2")
      {%- set nothing = formats.splice(woff2Index, 1) -%}
      {%- if formats.length != 0 -%}, {% else -%}; {% endif -%}
      {%- endif -%}
      {%- if woffIndex != -1 -%}
      url("{{ fontPath }}{{ fontName }}.woff") format("woff")
      {%- set nothing = formats.splice(woffIndex, 1) -%}
      {%- if formats.length != 0 -%}, {% else -%}; {% endif -%}
      {%- endif -%}
      {%- if ttfIndex != -1 -%}
      url("{{ fontPath }}{{ fontName }}.ttf") format("truetype")
      {%- set nothing = formats.splice(ttfIndex, 1) -%}
      {%- if formats.length != 0 -%}, {% else -%}; {% endif -%}
      {%- endif -%}
      {%- if svgIndex != -1 -%}
      url("{{ fontPath }}{{ fontName }}.svg#{{ fontName }}") format("svg");
      {%- endif %}
      font-style: normal;
      font-weight: 400;
    }

    .{{ className }} {
      font-size: 10rem !important;
      margin-bottom: 1rem;
    }
    .{{ className }}-wrap {
      text-align: center;
      height: 12rem;
      break-inside: avoid-column;
    }

    .{{ className }} {
      display: inline-block;
      vertical-align: top;
      position: relative;
      display: inline-block;
      transform: translate(0, 0);
      text-rendering: auto;
      font-family: iconfont;
      font-weight: normal;
      font-style: normal;
      font-size: inherit;
      width: 1em;
      height: 1em;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }

    .{{ className }}::before,
    .{{ className }}::after,
    .{{ className }} i::before,
    .{{ className }} i::after {
      font-style: normal;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      height: 1em;
      width: 1em;
      font-size: 1em;
    }

    .{{ className }}-2x {
      font-size: 2em;
    }

    .{{ className }}-3x {
      font-size: 3em;
    }

    .{{ className }}-4x {
      font-size: 4em;
    }

    .{{ className }}-5x {
      font-size: 5em;
    }

    .{{ className }}-fw {
      width: 1.28571429em;
      text-align: center;
    }

  {%- for glyph in glyphs -%}
    {%- set icon = glyph.name.split('-') -%}
    {% if icon[1] == 0 %}
    .{{ className }}-{{ icon[0] }}::before {
    {% elif icon[1] == 1 %}
    .{{ className }}-{{ icon[0] }} i::before {
    {% elif icon[1] == 2 %}
    .{{ className }}-{{ icon[0] }} i i::before {
    {% elif icon[1] == 3 %}
    .{{ className }}-{{ icon[0] }} i i::after {
    {% elif icon[1] == 4 %}
    .{{ className }}-{{ icon[0] }} i::after {
    {% else %}
    .{{ className }}-{{ icon[0] }}::after {
    {% endif %}  content: "\{{ glyph.unicode[0].charCodeAt(0).toString(16) }}";
      color: var(--{{ icon[2] }});
    }
  {%- endfor -%}
  </style>
</head>
<body>
  <h1>List Icons</h1>
  <div class="icons" id="icons">
    {%- for glyph in glyphs -%}
    {%- set icon = glyph.name.split('-') -%}
    {% if icon[1] == 0 %}
      <div class="icon-wrap">
        <div>
          <i class="{{ className }} {{ className }}-{{ icon[0] }}"><i><i></i></i></i>
        </div>
        <span class="icon-class">{{ className }}-{{ icon[0] }}</span>
      </div>
    {% endif %}
    {%- endfor -%}
  </div>
</body>
</html>
